#product-overview {
  background-color: #ff1b68;
}

h1 {
  color: white;
  /* sans-serif es la fuente por default en el navegador vista desde la
  configuración del navegador */
  /* font-family: sans-serif; */
  font-family: 'Anton', sans-serif;
}

.section-title {
  color: #2ddf5c;
}